.main {
  position: absolute;
  height: 30px;
  width: 30px;

  cursor: pointer;
  opacity: 0;

  z-index: 999999;
  .information {
    width: 500px;

    color: white;
    position: absolute;
    display: none;

    animation-name: goText;
    animation-duration: 1s;
    animation-timing-function: linear;
  }

  .majorLine {
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;

    position: absolute;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: white;
    animation: is-rotating 2s infinite linear 0.5s;

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      right: 9px;
      bottom: 9px;
      background-color: white;
      border-radius: 50%;
    }

    .minorRow {
      width: 30px;
      height: 30px;
      top: -3px;
      left: -2px;

      position: absolute;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: gray;
      animation: is-rotating2 2s infinite linear 1s;
    }
  }
}

@keyframes is-rotating {
  to {
    transform: rotate(360deg);
  }
}

@keyframes is-rotating2 {
  to {
    transform: rotate(-720deg);
  }
}