.main {
  background-color: var(--blue-dark);

  width: 100%;
  height: 800px;

  position: relative;
  .text {
    padding-top: 80px;

    button {
      padding: 14px 0px;
      margin-top: 50px;
      width: 100%;
      border-radius: 10px;

      background-color: var(--blue-light);
      border: 0px;

      font-size: 1.5rem;
      font-weight: 700;
      color: var(--blue-dark);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        filter: brightness(0.8);
        transition: 0.5s;
      }
    }

    h1 {
      color: var(--font-white);
    }

    h3 {
      color: var(--blue-light);
      font-weight: 400;

      margin: 14px 0px;
    }

    p {
      color: var(--font-white);
    }

    div {
      margin-top: 18px;
    }
  }

  .subMain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-column-gap: 4%;

    position: absolute;
    bottom: -80px;

    margin: 0px 10%;
  }
}

@media (max-width: 1036px) {
  .main {
    height: 1200px;
    margin-bottom: 200px;
    .subMain {
      display: flex;
      flex-direction: column;

      position: absolute;
      bottom: -100px;

      margin: 0px 10%;
    }

    .text {
      margin-bottom: 40px;

      h1 {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
}

@media (max-width: 460px) {
  .main {
    height: 1300px;
    .subMain {
      display: flex;
      flex-direction: column;

      position: absolute;
      bottom: -180px;

      margin: 0px 5%;

      h1 {
        text-align: flex-start;
        font-size: 1.25rem;

        margin-bottom: 60px;
      }
    }

    .text {
      margin-bottom: 40px;

      button {
        font-size: 1rem;
      }
    }
  }
}
