html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.pin-spacer {
  padding : 0px !important;
  height : 800vh !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

// ::-webkit-scrollbar-button {
//   background: #ccc
// }
// ::-webkit-scrollbar-track-piece {
//   background: #888
// }
// ::-webkit-scrollbar-thumb {
//   background: #eee
// }​

.buttonNav {
  // background-color: white;
  border: solid 1px gray;

  font-size: 0px;
  padding: 8px;
  margin: 4px;
  border-radius: 50%;
}

.active {
  padding: 10px;
  background-color: gray !important;
}
