@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: always;
  -moz-osx-font-smoothing: always;
  font-smooth: always;
}

:root {
  --font-white: white;
}

.pin-spacer {
  padding: 0px !important;
  max-height: 800vh !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

// ::-webkit-scrollbar-button {
//   background: #ccc
// }
// ::-webkit-scrollbar-track-piece {
//   background: #888
// }
// ::-webkit-scrollbar-thumb {
//   background: #eee
// }​

.buttonNav {
  background-color: white;
  height: 2px;
  padding: 10px 0px;

  cursor: pointer;

  font-size: 0px;
  padding: 0px;
  width: 30px;
  margin: 10px;
  transition: 1s;

  
}

.active {
  width: 50px;

  transition: 1s;
}
