.main {
  height: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 14px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.337);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.337);

  background-color:  #c9d9dc;

  h3{
    font-size: 5rem;

    color: var(--blue-dark);
  }

  p{
    color: var(--blue-dark);
  }
}
