.main {
  background-image: url(./../../image/index/terceiro.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100vw;

  position: relative;
}
