.main {
  background-image: url(./../../image/quarto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;

  position: relative;
}

.text {
  position: absolute;
  z-index: 1;

  width: 100%;
  text-align: center;

  top: 22vh;

  color: var(--font-white);
}
