.main {
  background-image: url(./../../image/primeira.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;

  .message {
    max-width: 800px;

    margin: 0 auto;

    text-align: center;
    opacity: 0;

    p {
      color: white;
    }
    .title {
      display: flex;
      

      font-size: 4rem;
      font-weight: 800;

      color: var(--font-white);

      span {
        font-size: 1.5rem;
      }
    }
  }
}
