.main {
  .nav {
    position: fixed;
    right: 0px;
    height: 90vh;
    width: 8vw;
    padding: 5vh 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    z-index: 9999;

    .arrow {
      svg {
        position: fixed;
        top: 90vh;

        fill: white;
        // height: 1.25rem;
        // width: 1.25rem;

        animation: animaArrow 2s infinite;
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span {
        height: 20px;
      }

      svg {
        fill: white;

        height: 1.5rem;
        width: 1.5rem;
      }
    }

    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        list-style: none;
      }
    }
  }
}