.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  margin: 140px auto 0px auto;

  height: 800px;

  position: relative;

  .homem {
    width: 400px;
    position: absolute !important;
    bottom: -10px;
    right: 0%;
  }

  h1 {
    color: var(--blue-dark);
    margin-bottom: 80px;
  }

  .content {
    margin-bottom: -10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 60%;

    .text {
      display: flex;
      flex-direction: column;

      grid-row-gap: 40px;
      grid-column-gap: 4px;

      h5 {
        color: var(--blue-dark);

        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      p {
        color: var(--blue-dark);
      }

      button {
        padding: 16px 0px;
        margin-top: 0px;
        width: 100%;
        border-radius: 10px;

        background-color: var(--blue-light);
        border: 0px;

        font-size: 1.25rem;
        font-weight: 700;
        color: var(--blue-dark);
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          filter: brightness(0.8);
          transition: 0.5s;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .main {
    max-width: 90%;

    .homem {
      width: 360px;
      position: absolute !important;
      bottom: -10px;
      right: 0%;
    }

    .content {
      width: 50%;
      .text {
        h5 {
          color: var(--blue-dark);

          font-size: 1.25rem;
          margin-bottom: 10px;
        }
        button {
          // padding: 4px 8px;

          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 848px) {
  .main {
    max-width: 90%;

    height: 1230px;

    .homem {
      width: 360px;
      position: relative;
      bottom: -10px;
    }

    .content{
      width: 100%;
    }
  }
}

@media (max-width: 594px) {
  .main {
    max-width: 90%;

    height: 1230px;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }

    .content {
      .text {
        display: flex;
        flex-direction: column;

        button {
          padding: 20px 8px;

          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 417px) {
  .main {
    max-width: 90%;

    height: 1240px;

    .homem {
      width: 290px;
      position: relative;
      bottom: -10px;
    }

    .content {
      .text {
        display: flex;
        flex-direction: column;

        button {
          padding: 20px 8px;

          font-size: 1rem;
        }
      }
    }
  }
}
